<div class="table-container">
    <p-table [value]="users">
        <ng-template pTemplate="header">
            <tr class="header">
                <th>ID</th>
                <th>NAME</th>
                <th>USERNAME</th>
                <th>EMAIL</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
            <tr>
                <td align="center">{{user.id}}</td>
                <td align="center">{{user.name}}</td>
                <td align="center">{{user.username}}</td>
                <td align="center">{{user.email}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>